body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:1px;
  top:0px;
  width:960px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u3 {
  position:absolute;
  left:841px;
  top:4px;
  width:120px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:653px;
  top:12px;
  width:90px;
  height:16px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  visibility:hidden;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:137px;
  top:56px;
  width:224px;
  height:48px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:48px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u10 {
  position:absolute;
  left:6px;
  top:28px;
  width:164px;
  height:75px;
  font-family:'TradeGothicLT-BoldTwo', 'TradeGothic LT BoldTwo';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:75px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:3px;
  width:960px;
  height:4px;
}
#u13 {
  position:absolute;
  left:-40px;
  top:1070px;
  width:990px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:973px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:990px;
  height:1px;
}
#u14 {
  position:absolute;
  left:24px;
  top:134px;
  width:982px;
  height:582px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:582px;
}
#u15 {
  position:absolute;
  left:2px;
  top:283px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:305px;
  top:175px;
  width:205px;
  height:15px;
  color:#990000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
