body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:32px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:748px;
  top:6px;
  width:10px;
  height:28px;
}
#u2_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u2_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u2_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u3 {
  position:absolute;
  left:1px;
  top:31px;
  width:126px;
  height:73px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1px;
  top:0px;
  width:960px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u6 {
  position:absolute;
  left:841px;
  top:4px;
  width:120px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:852px;
  top:12px;
  width:99px;
  height:15px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:763px;
  top:12px;
  width:66px;
  height:15px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:653px;
  top:12px;
  width:90px;
  height:15px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:137px;
  top:56px;
  width:224px;
  height:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:48px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:669px;
  top:57px;
  width:250px;
  height:36px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:919px;
  top:57px;
  width:41px;
  height:36px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u20 {
  position:absolute;
  left:633px;
  top:6px;
  width:10px;
  height:28px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u21 {
  position:absolute;
  left:517px;
  top:12px;
  width:107px;
  height:15px;
  color:#666666;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:40px;
  top:251px;
  width:219px;
  height:160px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:160px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u24 {
  position:absolute;
  left:10px;
  top:40px;
  width:199px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:288px;
  top:251px;
  width:219px;
  height:160px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:160px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u26 {
  position:absolute;
  left:2px;
  top:29px;
  width:215px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:538px;
  top:251px;
  width:219px;
  height:160px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:160px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u28 {
  position:absolute;
  left:2px;
  top:38px;
  width:215px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:781px;
  top:251px;
  width:219px;
  height:160px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:160px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u29_img.mouseDown {
}
#u29.mouseDown {
}
#u30 {
  position:absolute;
  left:2px;
  top:47px;
  width:215px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:36px;
  top:170px;
  width:953px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:60px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  word-wrap:break-word;
}
