body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:49px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:1px;
  top:0px;
  width:960px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u3 {
  position:absolute;
  left:841px;
  top:4px;
  width:120px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:653px;
  top:12px;
  width:90px;
  height:16px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  visibility:hidden;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:137px;
  top:56px;
  width:224px;
  height:48px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:48px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u10 {
  position:absolute;
  left:6px;
  top:28px;
  width:164px;
  height:75px;
  font-family:'TradeGothicLT-BoldTwo', 'TradeGothic LT BoldTwo';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:75px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:3px;
  width:960px;
  height:4px;
}
#u13 {
  position:absolute;
  left:49px;
  top:172px;
  width:310px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:49px;
  top:250px;
  width:800px;
  height:1px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:49px;
  top:227px;
  width:118px;
  height:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:49px;
  top:310px;
  width:68px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:560px;
  top:250px;
  width:160px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:49px;
  top:395px;
  width:961px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:944px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:961px;
  height:1px;
}
#u23 {
  position:absolute;
  left:49px;
  top:350px;
  width:800px;
  height:30px;
  color:#CC0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:180px;
  top:642px;
  width:113px;
  height:138px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:138px;
}
#u26 {
  position:absolute;
  left:2px;
  top:61px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:310px;
  top:642px;
  width:113px;
  height:138px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:138px;
}
#u28 {
  position:absolute;
  left:2px;
  top:61px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:310px;
  top:482px;
  width:113px;
  height:138px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:138px;
}
#u30 {
  position:absolute;
  left:2px;
  top:61px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:180px;
  top:482px;
  width:113px;
  height:138px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:138px;
}
#u32 {
  position:absolute;
  left:2px;
  top:61px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:49px;
  top:642px;
  width:113px;
  height:138px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:138px;
}
#u34 {
  position:absolute;
  left:2px;
  top:61px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:440px;
  top:642px;
  width:113px;
  height:138px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:138px;
}
#u36 {
  position:absolute;
  left:2px;
  top:61px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:440px;
  top:482px;
  width:113px;
  height:138px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:138px;
}
#u38 {
  position:absolute;
  left:2px;
  top:61px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:49px;
  top:482px;
  width:113px;
  height:138px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:138px;
}
#u40 {
  position:absolute;
  left:2px;
  top:61px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:49px;
  top:445px;
  width:119px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
